<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AJAX Content</title>
</head>
<body>
	<p style="font-size:14px">这里是AJAX加载内容.</p>
	<ul>
		<li>easyui是一套基于JQuery的用户界面插件集合.</li>
		<li>easyui为构建现代流行的交互式体验JavaScript应用程序提供了基本功能.</li>
		<li>使用easyui你不需要写很多javascript代码，你通常只需要写一些html标签来定义用户界面.</li>
		<li>完美支持HTML5.</li>
		<li>easyui能够有效地节省你的开发时间.</li>
		<li>easyui很简单但是很强大.</li>
	</ul>
	
<pre style="border:solid 1px blue;font-size:15px;font-weight:bold;">	
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
	&lt;meta charset=&quot;UTF-8&quot;&gt;
	&lt;title&gt;AJAX Content&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
	&lt;p style=&quot;font-size:14px&quot;&gt;这里是AJAX加载内容.&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;easyui是一套基于JQuery的用户界面插件集合.&lt;/li&gt;
		&lt;li&gt;easyui为构建现代流行的交互式体验JavaScript应用程序提供了基本功能.&lt;/li&gt;
		&lt;li&gt;使用easyui你不需要写很多javascript代码，你通常只需要写一些html标签来定义用户界面.&lt;/li&gt;
		&lt;li&gt;完美支持HTML5.&lt;/li&gt;
		&lt;li&gt;easyui能够有效地节省你的开发时间.&lt;/li&gt;
		&lt;li&gt;easyui很简单但是很强大.&lt;/li&gt;
	&lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;

</pre>
</body>
</html>